.main-heading{
    padding: 20px 10px 10px;
    margin: 0 15%;
    color: #424242;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f57b02;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(360,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23f57b02'/%3E%3Cstop offset='1' stop-color='%23ffa000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(272,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23fecb27' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23fecb27' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(106,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23fecb27' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23fecb27' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg %3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.sub-heading{
    margin: 0 10px;
    padding: 0 15%;
    color: #fff;
    text-shadow: 0px 1px 2px #FF5722;
}

.chat-container{
    padding: 10px 0 120px;
    margin: 10px 15% 0;
}

.chat-container li{
    list-style: none;
    padding: 10px;
    overflow: auto;
}

.chat-container mat-card{
    border-radius: 10px;
    /* background: linear-gradient(to bottom, #3f51b5 0%, #3f51b5c7 100%); */
    background: #FFFFFFDD;
    width: 90%;
    padding: 15px 10px;
    box-sizing: border-box;
    border-top-left-radius: 0;
}

.chat-container .current-user mat-card{
    /* background: linear-gradient(to bottom, #009933 0%, #33cc33 100%); */
    float: right;
    text-align: right;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0;
}

.chat-container mat-card img{
    height: 32px;
}

.chat-input-wrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.chat-input-form{
    padding: 20px;
    background: #FFFFFFF7;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.2);
    padding: 20px 20px 0;
    font-size: 16px;
}

.chat-input-form .form-actions{
    display: inline-block;
    vertical-align: top;
    margin: 3px 0px;
}

.chat-input-form mat-form-field{
    width: calc(100% - 56px);
    padding-right: 10px;
    box-sizing: border-box;
}

.chat-input-form .mat-icon{
    height: 27px;
}

@media all and (max-width: 768px){
    .main-heading{
        margin: 0 3%;
    }
    
    .sub-heading{
        padding: 0 3%;
    }
    
    .chat-container{
        margin: 10px 3% 0;
    }
}