.container{
    margin: 0 15px;
}

.generate-link form{
    display: inline;
}

.generate-link mat-form-field{
    max-width: 370px;
    width: 100%;
}

.generate-link .btn-generate-url{
    margin: 10px 20px 15px 8px;
}

.generate-link .form-actions{
    display: inline-block;
}

.generate-link .mat-icon{
    height: 27px;
}
